@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap");
@media (max-width: 500px) {
  body {
    background: #ffff;
    border: 5px solid goldenrod;
    padding: 0;
    margin: 0;
  }
  body .top {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .top .top-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    color: goldenrod;
  }
  body .top .top-main h1 {
    font-size: 10px;
    padding: 5%;
    padding-top: 10%;
    text-transform: uppercase;
    font-family: 'Pacifico', cursive;
  }
  body .top .top-main img {
    width: 20%;
    height: 20%;
    opacity: 0.8;
  }
  body .top .line {
    width: 100%;
    height: auto;
    background: goldenrod;
    color: #ffff;
    text-align: center;
    font-family: 'Pacifico', cursive;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .top .line1 {
    background-image: url("./images/shivali d image.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    color: white;
    font-family: 'Pacifico', cursive;
    text-align: center;
  }
  body .top .table {
    padding: 5% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .top .table h1 {
    border: 1px solid white;
    width: 50%;
  }
  body .top .table .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .top .table .grid .row {
    margin: 0 0%;
    padding: 0 0%;
  }
  body .top .end {
    width: 100%;
    height: auto;
    background-color: goldenrod;
    color: white;
  }
  body .top .end .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid white;
  }
  body .top .end .contact h4 {
    text-decoration: underline;
    font-size: 20px;
  }
  body .top .end .contact p {
    font-size: 18px;
  }
  body .top .end .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: 1000;
  }
  body .top .end .footer .footer-line1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2%;
    text-align: center;
  }
  body .top .end .footer .gif {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .top .end .footer .gif img {
    width: 20%;
    height: 10%;
  }
  hr {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
/*# sourceMappingURL=style.css.map */